
<div>
    <form asp-action="AddUser" method="post">
        <div class="form-group">
            <label asp-for="GivenName"></label>
            <input asp-for="GivenName"/>
        </div>
    </form>
</div>
