@model IEnumerable<GuestBook.Models.User>
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div>
    <form method="get">
        <button asp-action="SaveUser" asp-controller="User" type="submit" >AddUser</button>
    </form>
    @foreach (var user in Model)
    {
        <div>
            <p>@user.GivenName</p>
            <p>@user.FamilyName</p>
            <form method="post">
                <button name="Remove" asp-action="Remove" asp-controller="User" asp-route-id="@user.UserId" type="submit">Remove</button>
            </form>
            <form method="get">
                <button asp-action="Modify" asp-controller="User" asp-route-id="@user.UserId" type="submit">Modify</button>
            </form>


        </div>
    }
</div>
